.item-product{
    float: left;
    width: 25%;
    box-shadow: 2px 2px 5px #afafaf47;
    border: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 80px;
    border-radius: 5px;

}

.item-product img{
    width: 80%;
}

.countProd{
    display: flex;
    width: 100%;
    justify-content: center;
    /* height: 77px; */
    align-items: center;
}

.countProd button{
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border-radius: 6px;
}

.countProd p{
    font-size: 20px;
}